%% -*- mode: erlang -*-
%% vim: sw=4 ts=4 et ft=erlang
[
    {nitrogen_core, [
        % If a signkey is not specified, then Nitrogen uses the Erlang cookie.
        % {signkey, "Nitrogen Sign Key"}

        % Default session timeout is 20 minutes.
        % {session_timeout, 20},

        % Specify a session cookie name. Uses "wf" by default.
        % {cookie_name, "wf"}
        {recaptcha,[
            {public_key, "6LeG_eMSAAAAABAySq9DH3_PcKvYZRwvDiMhtMkq"},
            {private_key, ""}
        ]},

        {smart_extensions, [
            {"json", json_main, {nitrogen_smart_extensions, json}}
        ]},

        {test_browsers, [
              "google-chrome"       %% Google Chrome
%%            , "firefox-trunk"       %% Firefox Nightly
              , "firefox"             %% Firefox
%%            , "chromium-browser"    %% Chromium
%%            , "konqueror"           %% Konqueror
%%            , "open -a safari"          %% Safari on OSX
%%            , "open -a 'Google Chrome'" %% Chrome on OSX
%%            , "open -a 'Firefox'"       %% Firefox on OSX
%%            , undefined             %% Manually Loaded
        ]},
        {tests, [
            "/tests/basic",
            "/tests/simplecontrols",
            "/tests/dropdown",
            "/tests/advancedcontrols1",
            "/tests/advancedcontrols2",
            "/tests/validation",
            "/tests/unicode/1",
            "/tests/unicode/2",
            "/tests/unicode/3",
            "/tests/unicode/4",
            "/tests/unicode/5",
            "/tests/unicode/6",
            "/tests/unicode/7",
            "/tests/unicode_template",
            "/tests/cookie?step=1",
            "/tests/cookie?step=2",
            "/tests/cookie?step=3",
            "/tests/cookie?step=4",
            "/tests/disable_encoding",
            "/tests/api"
            %% TEST TO ADD
            %% Session/State Tests (beyond what's used by the test system)
            %% Comet/async tets
            %% comet Continations
            %% priority wiring
            %% restful forms
            %% smart extensions
            %% Wizard
            %% basic mobile stuff
        ]}
    ]},

    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},


    {simple_bridge, [
        {backend, mochiweb},
        {handler, nitrogen},
        {address, "0.0.0.0"},
        {port, 8000},
        {document_root, "./priv/static"},
        {static_paths, ["js/","images/","css/","nitrogen/"]},
        {max_post_size, 1000},
        {max_file_size, 1000}
    ]}
].
