% vim: sw=4 ts=4 et ft=erlang

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.

{lib_dirs, ["deps"]}.

{deps, [
    
    %% The following line will be replaced by the appropriate backend's
    %% dependencies. It will use simple_bridge's merge_deps script.
    %% It ends with a comma since the simple_bridge deps don't.
    %% GENERATED_DEPS,
    %% END GENERATED DEPS

    {simple_bridge, {git, "https://github.com/nitrogen/simple_bridge",  {branch, master}}},
    {nitrogen_core, {git, "https://github.com/nitrogen/nitrogen_core",  {branch, master}}},
    {nprocreg,      {git, "https://github.com/nitrogen/nprocreg",       {branch, master}}},
    {sync,          {git, "https://github.com/rustyio/sync",            {branch, master}}},
    {nitro_cache,   {git, "https://github.com/nitrogen/nitro_cache",    {branch, master}}}

    %%{nitrogen_core, {git, "https://github.com/nitrogen/nitrogen_core",   {tag, "v2.3.0-beta5"}}},
    %%{nprocreg,      {git, "https://github.com/nitrogen/nprocreg",        {tag, "v0.2.1"}}},
    %%{simple_bridge, {git, "https://github.com/nitrogen/simple_bridge",   {tag, "v2.0.0-beta3"}}},
    %%{sync,          {git, "https://github.com/rustyio/sync",             {tag, "ed84f87c6335"}}
]}.
