% vim: sw=4 ts=4 et ft=erlang
{require_otp_vsn, "R13B04|R14|R15|R16"}.

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.

{lib_dirs, ["deps"]}.

{deps, [
    {mochiweb,      "2.*",   {git, "git://github.com/mochi/mochiweb.git",       {tag, "v2.7.0"}}},
    {useragent,     ".*",    {git, "git://github.com/ferd/useragent",           {branch, master}}},

    {nitrogen_core, "2\..*", {git, "git@bitbucket.org:choptastic/nitrogen_core",   {branch, ws}}},
    {nprocreg,      "0\..*", {git, "git://github.com/nitrogen/nprocreg",        {branch, master}}},
    {simple_bridge, "2\..*", {git, "git@bitbucket.org:choptastic/simple_bridge",   {branch, ws}}},
    {sync,          "0\..*", {git, "git://github.com/rustyio/sync",          {branch, master}}}
    %% {nitrogen_core, "2.1.*", {git, "git://github.com/nitrogen/nitrogen_core", {tag, "v2.1.0"}}},
    %% {nprocreg,      "0.2.*", {git, "git://github.com/nitrogen/nprocreg", {tag, "v0.2.0"}}},
    %% {simple_bridge, "1.2.*", {git, "git://github.com/nitrogen/simple_bridge", {tag, "v1.2.0"}}},
    %% {sync,          "0.1.*", {git, "git://github.com/rustyio/sync", {tag, "v0.1.0"}}}
]}.
