[    
	{simple_bridge, [
        {backend, cowboy},
        {handler, nitrogen},
        {address, "0.0.0.0"},
        {port, 8000},
        {document_root, "./priv/static"},
        {static_paths, ["js/","images/","css/","nitrogen/", "docsets/"]},
        {max_post_size, 1000},
        {max_file_size, 1000},
        {scratch_dir, "/tmp/scratch"}
    ]}
].
