<!DOCTYPE html>
<html>
	<head>
		<title>[[[page:title()]]] - Nitrogen Web Framework</title>
		<meta http-equiv = "Content-Type" content = "text/html; charset=utf-8"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 


		<script type="text/javascript" src="/nitrogen/jquery.js"></script>
		<script type="text/javascript" src="/nitrogen/jquery.mobile.min.js"></script>
		<script type="text/javascript" src="/nitrogen/bert.js"></script>
		<script src='/nitrogen/livevalidation.js' type='text/javascript' charset='utf-8'></script>
		<script src='/nitrogen/nitrogen.js' type='text/javascript' charset='utf-8'></script>
		<script src='/nitrogen/bert.js' type='text/javascript' charset='utf-8'></script>
		<script src='/nitrogen/nitrogen_jqm.js' type='text/javascript' charset='utf-8'></script>
		<link rel="stylesheet" href="/nitrogen/nitrogen.css" charset='utf-8'></script>
		<link rel="stylesheet" href="/nitrogen/jquery.mobile.min.css" />
		<link rel="stylesheet" href="/nitrogen/jquery.mobile.icons.css" />
	</head>
	<body>
		<div data-role="page" id="pagediv" data-code="[[[mobile_script]]]">

			[[[page:panel()]]]

			<div data-role="header"> 
				<h1>[[[page:headline()]]]</h1> 
			</div> 

			<div data-role="content">
				[[[page:body()]]]
			</div>

			<div data-role="footer"> 
				<h4>
					&copy; 2013 - Nitrogen Web Framework
				</h4> 
			</div>
		</div>
	</body>
</html>
